[submodule "ProfileCreator/ProfilePayloads"]
	path = ProfileCreator/ProfilePayloads
	url = https://github.com/ProfileCreator/ProfilePayloads
[submodule "ProfileCreator/Highlightr"]
	path = ProfileCreator/Highlightr
	url = https://github.com/raspu/Highlightr
