<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultOrganization</key>
	<string>ProfileCreator</string>
	<key>DefaultOrganizationIdentifier</key>
	<string>com.willyu.ProfileCreator</string>
	<key>DefaultPayloadIdentifierFormat</key>
	<string>%ROOTID%.%TYPE%.%UUID%</string>
	<key>DefaultProfileIdentifierFormat</key>
	<string>%ORGID%.%UUID%</string>
	<key>MainWindowShowProfileCount</key>
	<false/>
	<key>MainWindowShowGroupIcons</key>
	<true/>
	<key>PayloadEditorShowDisabledKeysSeparator</key>
	<true/>
	<key>PayloadEditorShowKeyAsTitle</key>
	<false/>
	<key>PayloadEditorShowSegmentedControls</key>
	<true/>
	<key>PayloadLibraryShowApplicationsFolderOnly</key>
	<true/>
	<key>PayloadLibraryShowCustom</key>
	<true/>
	<key>PayloadLibraryShowDomainsApple</key>
	<true/>
	<key>PayloadLibraryShowManagedPreferencesApple</key>
	<true/>
	<key>PayloadLibraryShowManagedPreferencesApplications</key>
	<true/>
	<key>PayloadLibraryShowManagedPreferencesApplicationsLocal</key>
	<false/>
	<key>PayloadLibraryShowDomainAsTitle</key>
	<false/>
	<key>PayloadEditorSyntaxHighlightTheme</key>
	<string>kimbie.light</string>
	<key>PayloadEditorSyntaxHighlightBackgroundColor</key>
	<string>#ffffff</string>
	<key>DistributionMethod</key>
	<string>Any</string>
	<key>PlatformIOS</key>
	<true/>
	<key>PlatformMacOS</key>
	<true/>
	<key>PlatformTvOS</key>
	<true/>
	<key>ScopeUser</key>
	<true/>
	<key>ScopeUserManaged</key>
	<false/>
	<key>ScopeSystem</key>
	<true/>
	<key>ScopeSystemManaged</key>
	<false/>
	<key>SignProfile</key>
	<false/>
	<key>DisableOptionalKeys</key>
	<true/>
	<key>ShowUserApprovedKeys</key>
	<true/>
	<key>ShowSupervisedKeys</key>
	<true/>
	<key>ShowDisabledKeys</key>
	<true/>
	<key>ShowCustomizedKeys</key>
	<true/>
	<key>ShowHiddenKeys</key>
	<false/>
	<key>ShowDeveloperMenu</key>
	<false/>
	<key>PayloadContentStyle</key>
	<string>Profile</string>
	<key>PayloadManifestsAutomaticallyCheckForUpdates</key>
	<true/>
	<key>PayloadManifestsAutomaticallyDownloadUpdates</key>
	<true/>
	<key>ApplicationAutomaticallyCheckForUpdates</key>
	<true/>
	<key>ApplicationUpdatesIncludePreReleases</key>
	<true/>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>SigningCertificateSearchSystemKeychain</key>
	<false/>
	<key>SigningCertificateShowUntrusted</key>
	<false/>
	<key>SigningCertificateShowExpired</key>
	<false/>
	<key>ProfileLibraryFileNameFormat</key>
	<string>PayloadUUID</string>
</dict>
</plist>
